:root {
  --main-color: #1d1d1d;
  --primary-color: rgb(2, 255, 213);
  --secondary-color: #e7e7e7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: var(--main-color);
}
main {
  width: 100%;
  height: 90vh;
  transform: translateY(60px);
  display: flex;
  justify-content: center;
}
main section.profile--container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 2rem;
  padding-block-start: 7rem;
  padding-inline-end: 5rem;
  z-index: -10;
}
main aside.profile--image {
  width: 270px;
  height: 270px;
  background-color: rgb(65, 64, 64);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  border-radius: 50%;
  border: 1px solid rgb(65, 64, 64);
  box-shadow: 0px 3px 2px rgb(83, 83, 83);
}
main aside.profile--image figure {
  width: 250px;
  height: 250px;
  z-index: 3;
  margin-top: -1px;
  border-radius: 50%;
}
main aside.profile--image figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 3px grey;
}
main aside.profile--text {
  width: 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-inline-start: 2rem;
}
main aside.profile--text > strong {
  color: var(--secondary-color);
  font-size: 1.3rem;
}
main aside.profile--text h1 {
  text-align: center;
  color: var(--secondary-color);
  margin-block: 5px;
  font-size: 2rem;
}
main aside.profile--text > p {
  text-align: center;
  color: var(--secondary-color);
  font-size: 1.2rem;
}
main aside.profile--text > p span {
  color: var(--primary-color);
}
.choose--me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 5rem;
}
.choose--me > h2 {
  color: var(--primary-color);
  margin-block-end: 1.5rem;
  font-size: calc(1.3rem + 1vw);
}
.choose--me--header {
  display: flex;
  flex-flow: row wrap;
  gap: 0.6rem;
  margin-block: 0.5rem;
}
.choose--me--header a {
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 5px;
  font-size: calc(15px + 0.1vw);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.choose--me--header a:hover {
  background-color: #c0bfbf;
}
.choose--me--text {
  color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
  line-height: 24px;
}
.choose--me--text div {
  width: 90%;
  align-self: center;
}
.display--none {
  display: none;
}
.active {
  background-color: rgb(1, 105, 88) !important;
  color: rgb(197, 195, 195) !important;
  transform: translateY(-8px);
}