:root {
  --main-color: #1d1d1d;
  --primary-color: rgb(2, 255, 213);
  --secondary-color: #e7e7e7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: var(--main-color);
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 10;
  transition: all 0.3s ease-in;
}

nav {
  max-width: 1100px;
  width: 100%;
  height: 100%;
}
input[type="checkbox"],
.hamburger-lines {
  display: none;
}
.container {
  margin: auto;
}
.navbar-container {
  max-width: 1100px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.menu-items {
  order: 2;
  max-width: 500px;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  border-top-right-radius: 3px;
}
.logo {
  order: 1;
}
.logo a {
  order: 1;
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.menu-items li.link-style {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: fit-content;
  height: 23px;
  cursor: pointer;
}
li.link-style a {
  height: 83%;
}
nav a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.link-style .border--style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3px;
}
.link-style .border--style span {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  margin: 0;
  transition: all 0.5s linear;
}
.link-style .border--style span.line--1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.link-style .border--style span.line--2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.link-style:hover .border--style span {
  width: 50%;
}

main {
  width: 100%;
  height: 90vh;
  transform: translateY(60px);
  display: flex;
  justify-content: center;
}
main section.profile--container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 2rem;
  padding-block-start: 7rem;
  padding-inline-end: 5rem;
  z-index: -10;
}
main aside.profile--image {
  width: 270px;
  height: 270px;
  background-color: rgb(65, 64, 64);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  border-radius: 50%;
  border: 1px solid rgb(65, 64, 64);
  box-shadow: 0px 3px 2px rgb(83, 83, 83);
}
main aside.profile--image figure {
  width: 250px;
  height: 250px;
  z-index: 3;
  margin-top: -1px;
  border-radius: 50%;
}
main aside.profile--image figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 3px grey;
}
main aside.profile--text {
  width: 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-inline-start: 2rem;
}
main aside.profile--text > strong {
  color: var(--secondary-color);
  font-size: 1.3rem;
}
main aside.profile--text h1 {
  text-align: center;
  color: var(--secondary-color);
  margin-block: 5px;
  font-size: 2rem;
}
main aside.profile--text > p {
  text-align: center;
  color: var(--secondary-color);
  font-size: 1.2rem;
}
main aside.profile--text > p span {
  color: var(--primary-color);
}
.choose--me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 5rem;
}
.choose--me > h2 {
  color: var(--primary-color);
  margin-block-end: 1.5rem;
  font-size: calc(1.3rem + 1vw);
}
.choose--me--header {
  display: flex;
  flex-flow: row wrap;
  gap: 0.6rem;
  margin-block: 0.5rem;
}
.choose--me--header a {
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 5px;
  font-size: calc(15px + 0.1vw);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.choose--me--header a:hover {
  background-color: #c0bfbf;
}
.choose--me--text {
  color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
  line-height: 24px;
}
.choose--me--text div {
  width: 80%;
  align-self: center;
}
.display--none {
  display: none;
}
.active {
  background-color: rgb(1, 105, 88) !important;
  color: rgb(197, 195, 195) !important;
  transform: translateY(-8px);
}

@media (max-width: 768px) {
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .menu-items {
    margin-top: -60px;
  }
  nav a {
    color: var(--main-color);
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
    padding: 10px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines {
    height: 23px;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--secondary-color);
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items {
    background-color: #e7e7e7;
    height: 106vh;
    max-width: 250px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -50px;
    transition: transform 0.5s ease-in-out;
  }
  .menu-items li {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-inline-start: 3rem;
    height: 100px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.3rem;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
    background-color: var(--main-color);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
    background-color: var(--main-color);
  }
}
