:root {
	--main-color: #1d1d1d;
	--primary-color: rgb(2, 255, 213);
	--secondary-color: #e7e7e7;
}
body {
	background-color: var(--main-color);
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	overflow-y: hidden;
}
main {
	max-width: 1200px;
	width: 97%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* overflow: hidden; */
}
h1 {
	color: var(--primary-color);
	text-align: center;
	font-size: calc(1.3rem + 1vw);
	/* animation: welcome alternate 10s forwards ease-in; */
}

/* @keyframes welcome{
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0.2);
  }
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
  80% {
    opacity: 0.7;
    transform: scale(1.4);
  }
  100% {
    opacity: 0.1;
    transform: scale(1.7);
  }
} */
